*{
    box-sizing: border-box;
}

@media screen and (min-width: 760px) {
    header, header h1, header p,
    section, input {
        max-width: 100%;
    }

    .button, .form {
        margin: 0;
    }

    header {
        width: 100%;
        background-image: url(./img/bg-tablet.jpg);
    }

    header h1 {
        width: 500px;
    }

    header p {
        width: 641px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    div.login {
        width: 40%;
    }

    input.submit {
        width: 187px;
        margin: 25px 6.7%;
    }
}

@media screen and (min-width: 1000px) {
    body {
        flex-direction: row;
    }

    header, section {
        width: 50%;
        height: 800px;
    }

    header {
        background-image: url(./img/bg-desktop.jpg);
    }

    header h1 {
        text-align: right;
        width: 423px;
    }

    header p {
        text-align: right;
        width: 423px;
    }

    section {
        justify-content: center;
    }

    div.form, div.button {
        width: 70%;
    }

    div.login {
        width: 100%;
    }

    input.submit {
        margin: 21px 0;
    }
}