@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
}

header, section, input,
header h1, header p,
div.form, div.button, div.login, input.submit {
    width: 100%;
}

header {
    background-image: url(./img/bg-mobile.jpg);
    background-size: cover;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 510px;
}

header h1 {
    text-transform: uppercase;
    color: white;
    font-size: 64px;
    font-weight: 400;
    max-width: 425px;
}

header p {
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    max-width: 424px;
}

section {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding: 82px 0 105px 0;
    max-width: 427px;
}

section p {
    font-size: 18px;
    padding-bottom: 14px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

input {
    max-width: 427px;
    height: 65px;
    background-color: #EDEDED;
    border: 1px solid #C7C7C7;
    margin-bottom: 40px;
    flex: auto;
}

.button, .form {
    margin: 0 24px;
}


.submit {
    background-color: #5200FF;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    margin-top: 21px;
}