* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    background-color: lightgrey;
    height: 506px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav, footer {
    width: 95%;
    background-color: lightgrey;
}


nav {
    height: 100px;
    margin: 40px 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    
    .row-1 {
        @include row;
        .box-1 {
            width: 30%;
        }
        .box-2 {
            width: 66%;
        }
    }
    .row-2 {
        @include row;
        .box-3 {
            width: 100%;
            margin: 32px 0;
        }
    }
    .row-3 {
        @include row;

        .box-4 {
            width: 48%;
        }
        .box-5 {
            width: 48%;
        }
    }
}

footer {
    height: 120px;
    margin: 40px;
}

